<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holyong.autogenerator.mapper.EventManagementMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.holyong.autogenerator.entity.EventManagement">
        <id column="id" property="id" />
        <result column="SMID" property="smid" />
        <result column="event_name" property="eventName" />
        <result column="occurrence_time" property="occurrenceTime" />
        <result column="uploader" property="uploader" />
        <result column="telephone" property="telephone" />
        <result column="event_type" property="eventType" />
        <result column="event_picture" property="eventPicture" />
        <result column="event_content" property="eventContent" />
        <result column="event_status" property="eventStatus" />
        <result column="handle_type" property="handleType" />
        <result column="handle_content" property="handleContent" />
        <result column="audit_result" property="auditResult" />
        <result column="update_time" property="updateTime" />
        <result column="coordinate" property="coordinate" />
        <result column="discovery_address" property="discoveryAddress" />
        <result column="village_group" property="villageGroup" />
        <result column="handle_uploader" property="handleUploader" />
        <result column="handle_picture" property="handlePicture" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_estimatetime" property="handleEstimatetime" />
        <result column="handle_progress" property="handleProgress" />
        <result column="examine_picture" property="examinePicture" />
        <result column="examine_uploader" property="examineUploader" />
        <result column="complete_time" property="completeTime" />
        <result column="complete_picture" property="completePicture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, SMID, event_name, occurrence_time, uploader, telephone, event_type, event_picture, event_content, event_status, handle_type, handle_content, audit_result, update_time, coordinate, discovery_address, village_group, handle_uploader, handle_picture, handle_time, handle_estimatetime, handle_progress, examine_picture, examine_uploader, complete_time, complete_picture
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">event_management</sql>
    <!-- 别名 -->
    <sql id="t_alias">event_management as management</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>
</mapper>
