package $!{package.Controller};


import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package.Parent}.config.ResponseResult;
import io.swagger.annotations.*;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import $!{superControllerClassPackage};
#end
import java.util.Arrays;
import java.util.Map;
import java.util.Date;
import java.util.List;

/**
 * @author $!{author}
 * @date $!{date}
 * @description $!{table.comment}控制器
 */
@Api(value = "$!{table.comment}", tags = "$!{table.comment}")
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : $!{superControllerClass}()#end
#else
#if(${superControllerClass})
public class $!{table.controllerName} extends $!{superControllerClass} {
#else
public class $!{table.controllerName} {
#end

    @Autowired
    private $!{table.serviceName} targetService;

##    /**
##     * 获取分页数据
##     *
##     * @return
##     */
##    @ApiOperation(value = "获取$!{table.comment}分页列表", notes = "获取$!{table.comment}分页列表")
##    @GetMapping(value = "/list")
##    public ResponseResult<IPage<$!{entity}>> list(@RequestParam(required = false) Map map) {
##        return ResponseResult.ok().data("page",targetService.page(targetService.pageList(map)));
##    }


    /**
    * 获取分页数据
    *
    * @return
    */
    @ApiOperation(value = "获取$!{table.comment}分页列表", notes = "获取$!{table.comment}分页列表")
    @GetMapping(value = "{page}/{limit}")
    public ResponseResult list( @ApiParam(name = "current", value = "当前页码", required = true)
            @PathVariable Long current,
            @ApiParam(name = "limit", value = "每页记录数", required = true)
            @PathVariable Long limit,
            @RequestBody(required = false) $!{entity} entity) {
        Page<$!{entity}> pageParam = new Page<>(current, limit);
        QueryWrapper<$!{entity}> wrapper = new QueryWrapper<>();
        targetService.page(pageParam,wrapper);
        return ResponseResult.ok().data("items", pageParam.getRecords()).data("total", pageParam.getTotal());
    }


    /**
    * 查找所有记录数
    */
    @ApiOperation(value = "获取$!{table.comment}的所有数据")
    @GetMapping("/findAll")
    public ResponseResult findAll() {
        List<$!{entity}> list = targetService.list();
        if (list != null){
            return ResponseResult.ok().data("result",list);
        }
        return ResponseResult.error();
    }



    /**
     * 根据ID查找数据
     */
    @ApiOperation(value = "获取$!{table.comment}详情", notes = "根据ID获取$!{table.comment}详情")
    @GetMapping("/get")
    public ResponseResult get(@RequestParam("id") String id) {
        $!{entity} entity = targetService.getById(id);
        if (entity != null){
            return ResponseResult.ok().data("result",entity);
        }
        return ResponseResult.error();
    }

    /**
     * 添加数据
     * @return
     */
    @ApiOperation(value = "新增$!{table.comment}", notes = "新增$!{table.comment}")
    @PostMapping("/add")
    public ResponseResult add(@RequestBody $!{entity} entity) {
        boolean bool = targetService.save(entity);
        if (bool){
            return ResponseResult.ok();
        }
        return ResponseResult.error();
    }

    /**
     * 更新数据
     * @return
     */
    @ApiOperation(value = "编辑$!{table.comment}", notes = "编辑$!{table.comment}")
    @PostMapping("/update")
    public ResponseResult update(@RequestBody $!{entity} entity) {
        boolean bool = targetService.updateById(entity);
        if (bool){
            return ResponseResult.ok();
        }
        return ResponseResult.error();
    }

    /**
    * 删除数据
    * @return
    */
    @ApiOperation(value = "移除$!{table.comment}", notes = "移除$!{table.comment}")
##    @ApiImplicitParams({
##        @ApiImplicitParam(name = "id", required = true, value = "id")
##    })
    @DeleteMapping("/remove")
    public ResponseResult remove(@RequestParam(value = "id") String id) {
        boolean bool = targetService.removeById(id);
        if (bool){
            return ResponseResult.ok();
        }
        return ResponseResult.error();
    }

    /**
    * 批量删除数据
    * @return
    */
    @ApiOperation(value = "批量移除$!{table.comment}", notes = "批量移除$!{table.comment} 多个参数用,号隔开")
    @ApiResponses({
            @ApiResponse(responseCode = "401",description = "请进行身份验证"),
            @ApiResponse(responseCode = "403",description = "拒绝执行"),
            @ApiResponse(responseCode = "404",description = "资源未找到"),
            @ApiResponse(responseCode = "500",description = "系统异常")
    })
    @PostMapping("/batch/remove")
    public ResponseResult batchRemove(@RequestParam(value = "ids") String ids) {
        boolean bool = targetService.removeByIds(Arrays.asList(ids.split(",")));
        if (bool){
            return ResponseResult.ok();
        }
        return ResponseResult.error();

    }
}
#end