package ${package.Entity};
#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import com.baomidou.mybatisplus.annotation.*;
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonInclude;
#end
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiModel;
#if(${entityLombokModel})
import lombok.Data;
#end


/**
 * @Package: ${package.Entity}
 * @Author ${author}
 * @CreateDate ${date}
 * @describe $!{table.comment}实体类
 */
#if(${entityLombokModel})
@Data
#end
@TableName("${table.name}")
#if(${swagger2})
@JsonInclude(JsonInclude.Include.NON_NULL)
@ApiModel(value="${entity}对象", description="$!{table.comment}")
#end
@ApiModel(value="${entity}对象", description="$!{table.comment}")
#if(${superEntityClass})
public class ${entity} extends ${superEntityClass}#if(${activeRecord})<${entity}>#end {
#elseif(${activeRecord})
public class ${entity} extends Model<${entity}> {
#else
public class ${entity} implements Serializable {
#end

    private static final long serialVersionUID = 1L;

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})   ## 主键
#set($keyPropertyName=${field.propertyName})
#if(${field.keyIdentityFlag})
 @TableId(value = "$!{field.name}", type = IdType.AUTO)
#elseif(!$null.isNull(${idType}) && "$!idType" != "")
 @TableId(value = "$!{field.name}", type = IdType.$!{idType})
#elseif(${field.convert})
 @TableId("$!{field.name}")
#end
#elseif(${field.fill})     ## 普通字段
## -----   存在字段填充设置   -----
#if(${field.convert})
 @TableField(value = "$!{field.name}", fill = FieldFill.$!{field.fill})
#else
 @TableField(fill = FieldFill.$!{field.fill})
#end
#elseif(${field.convert})
#end
## 乐观锁注解
#if(${versionFieldName}==${field.name})
 @Version
#end
## 逻辑删除注解
#if(${logicDeleteFieldName}==${field.name})
 @TableLogic
#end
    private ${field.propertyType} ${field.propertyName};

#end
## ----------  END 字段循环遍历  ----------

}